$couleur1: #11b965;
$couleur2: #014C16;
$couleur3:#89FFAA;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ensemble {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  gap: 5%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2%;
  background-color: #e1dede;
  align-items: center;
  padding: 5%;
}

.ensemble-filtre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filtre {
  display: flex;
  gap: 2%;
}

//audit depense
.ensemble_audit {
  padding: 2%;
}
.affiche_stat {
  display: flex;
  div {
    flex-grow: 1;
  }
}

//entete
.entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .espace_compte {
    border: 1px inset rgba(129, 129, 129, 0.231);
    padding: 0 2%;
    border-radius: 50px;
  }
}

.page_pple {
  padding: 0.5%;
}
//menu
.lien {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 15%;
  a {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    background-color: #D2FBD0;
    padding: 2%;
    .MuiTypography-root,.MuiIconButton-root {
      color: $couleur2;
    }
    &:hover {
      background-color: $couleur2;
      scale: 1.1;
      .MuiTypography-root, .MuiIconButton-root {
        color: $couleur3;
      }
     
    }
  }
}

