.ensemble {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  gap: 5%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2%;
  background-color: #e1dede;
  align-items: center;
  padding: 5%;
}
